<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ltm</property>
        <property name="hibernate.connection.username">root</property>
<!--        TODO add password-->

        <property name="hibernate.connection.password">123456</property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>

        <!-- Specify the SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Enable automatic table creation -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Show generated SQL in the console (optional) -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Add your entity classes here -->
        <mapping class="com.n19.ltmproject.server.model.Player"/>
        <mapping class="com.n19.ltmproject.server.model.Game"/>
        <mapping class="com.n19.ltmproject.server.model.Reward"/>
        <mapping class="com.n19.ltmproject.server.model.PlayerHistory"/>
    </session-factory>
</hibernate-configuration>
