/*START WAITINGROOM CSS */
.acthorpane-waiting-main{
    -fx-border-radius: 10px;      /* Độ bo tròn của viền */
    -fx-background-color: #E7DCC1;   /* Màu nền */
    -fx-background-radius: 10px;
}
.button-waiting-start{
    -fx-background-color:  #2ECC57;
    -fx-border-radius: 15;
    -fx-background-radius: 30;
}
.button-waiting-ready{
    -fx-background-color:  #91CF24;
    -fx-border-radius: 15;
    -fx-background-radius: 30;
}
.button-waiting-ready2{
    -fx-background-color:  #2BC9FC;
    -fx-border-radius: 15;
    -fx-background-radius: 30;
}
.button-waiting-exit{
    -fx-background-color:  #2ECC57;
}
.acthorpane-waiting-online{
    -fx-border-radius: 10px;      /* Độ bo tròn của viền */
    -fx-background-color: #F5F5F5;   /* Màu nền */
    -fx-background-radius: 10px;
}
.acthorpane-waiting-child{
    -fx-background-color: #D9D9D9;
}

/*END CSS WAITINGROOM */